.content.background  {
    display: flex;
    margin-top: 44px;
    min-height: calc(60vh + 4.5px);
    background-position: top left;
    background-repeat: repeat-y;
    background-size: cover;

    .content-container ul li {
        text-align: left;
    }

    .content-container {
        margin-top: 24rem;
    }

    .content-container * {
        color: snow;
        li {
            text-align: left;
        }

        ul li {
            text-align: left;
        }
    }
}