{{/*  variables for enabling/disabling various features  */}}
{{ $blogEnabled   := site.Params.features.blog.enable   | default false }}
{{ $blogTitle  := site.Params.features.blog.title | default (i18n "posts") }}
{{ $notesEnabled  := site.Params.features.notes.enable  | default false }}
{{ $notesTitle := site.Params.features.notes.title  | default (i18n "notes") }}
{{ $maxVisibleSections   := site.Params.topNavbar.maxVisibleSections   | default 5 }}

{{/*  keep backward compatibility for blog post  */}}
{{ if site.Params.enableBlogPost }}
  {{ $blogEnabled = true }}
{{ end }}

{{/* by default, don't use any logo */}}
{{ $mainLogo := "" }}
{{ $invertedLogo := "" }}
{{ $darkLogo := "" }}

{{/*  if custom logo has been provided, use them  */}}
{{ if site.Params.logo.main }}
  {{ $mainLogo = site.Params.logo.main }}
{{ end }}
{{ if site.Params.logo.inverted }}
  {{ $invertedLogo = site.Params.logo.inverted }}
{{ end }}
{{ if site.Params.logo.dark }}
  {{ $darkLogo = site.Params.logo.dark }}
{{ end }}

{{/* resize the logos. don't resize svg because it is not supported */}}
{{ if $mainLogo }}
  {{ $mainLogo = resources.Get $mainLogo}}
  {{ if and $mainLogo (ne $mainLogo.MediaType.SubType "svg") }}
    {{ $mainLogo = $mainLogo.Resize "42x" }}
  {{ end }}
  {{ $mainLogo = $mainLogo.RelPermalink}}
{{ end }}

{{ if $invertedLogo }}
  {{ $invertedLogo = resources.Get $invertedLogo}}
  {{ if and $invertedLogo (ne $invertedLogo.MediaType.SubType "svg")}}
    {{ $invertedLogo = $invertedLogo.Resize "42x" }}
  {{ end }}
  {{ $invertedLogo = $invertedLogo.RelPermalink}}
{{ end }}

{{ if $darkLogo }}
  {{ $darkLogo = resources.Get $darkLogo}}
  {{ if and $darkLogo (ne $darkLogo.MediaType.SubType "svg")}}
    {{ $darkLogo = $darkLogo.Resize "42x" }}
  {{ end }}
  {{ $darkLogo = $darkLogo.RelPermalink}}
{{ end }}

{{ $logo := $mainLogo }}
{{ if .IsHome }}
  {{ $logo = $invertedLogo }}
{{ end }}

{{ $customMenus := site.Params.customMenus }}
{{ if (index site.Data site.Language.Lang).site.customMenus }}
  {{ $customMenus = (index site.Data site.Language.Lang).site.customMenus }}
{{ end }}

{{ $sections := site.Data.sections }}
{{ if (index site.Data site.Language.Lang).sections }}
  {{ $sections = (index site.Data site.Language.Lang).sections }}
{{ end }}

{{ $navBarTitle := (index site.Data site.Language.Lang).site.navBarTitle }}
{{ if not $navBarTitle }}
  {{ $navBarTitle = site.Title }}
{{ end }}

<nav class="navbar navbar-expand-xl top-navbar shadow {{ if .IsHome}}transparent-navbar homepage{{end}}" id="top-navbar">
  <div class="container">
    {{/*  {{ if not .IsHome }}
    <button class="navbar-toggler navbar-light" id="sidebar-toggler" type="button">
      <i data-feather="sidebar"></i>
    </button>
    {{ end }}  */}}
    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
      {{ if $logo }}
        <img src="{{ $logo }}" id="logo" alt="Logo">
      {{ end }}
      {{- $navBarTitle -}}
    </a>
    <button
      class="navbar-toggler {{if .IsHome}}navbar-dark{{else}}navbar-light{{end}}"
      id="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#top-nav-items"
      aria-label="menu"
    >
      <i data-feather="menu"></i>
    </button>

    <div class="collapse navbar-collapse dynamic-navbar" id="top-nav-items">
      <ul class="nav navbar-nav ms-auto">
        {{ $shouldAddSeparator:= partial "helpers/add-navbar-separator.html" . }}
        {{ if $shouldAddSeparator }}
          <div id="top-navbar-divider"></div>
        {{ end }}

        {{- $page := . }}
        {{- with index site.Menus "main" }}
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        {{- end }}
        {{- define "partials/inline/menu/walk.html" }}
          {{- $page := .page }}
          {{- range .menuEntries }}
            {{- $attrs := dict "href" .URL }}
            {{- $attrs = merge $attrs (dict "class" "nav-link") }}
            {{ if $page.IsMenuCurrent .Menu . }}
              {{- $cl := printf "%s" " active" | printf "%s%s" (index $attrs "class") | printf "%s" }}
              {{- $attrs = merge $attrs (dict "class" $cl "aria-current" "page") }}
            {{ else if $page.HasMenuCurrent .Menu . }}
              {{- $cl := printf "%s" " current" | printf "%s%s" (index $attrs "class") | printf "%s" }}
              {{- $attrs = merge $attrs (dict "class" $cl "aria-current" "true") }}
            {{- end }}
            {{- $name := .Name }}
            {{- with .Identifier }}
              {{- with T . }}
                {{- $name = . }}
              {{- end }}
            {{- end }}
            <li class="nav-item">
              <a 
                {{- range $k, $v := $attrs }}
                  {{- with $v }}
                    {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                  {{- end }}
                {{- end -}}
              >{{ $name }}</a>
              {{- with .Children }}
                <ul>
                  {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
                </ul>
              {{- end }}
            </li>
          {{- end }}
        {{- end }}
        {{ if .IsTranslated }}
          {{ partial "navigators/lang-selector.html" . }}
        {{ end }}
        {{ if or site.Params.features.darkMode.enable site.Params.features.theme.enable }}
          {{ partial "navigators/theme-selector.html" . }}
        {{ end }}
      </ul>
    </div>
  </div>
  <!-- Store the logo information in a hidden img for the JS -->
  {{ if $mainLogo }}
    <img src="{{ $mainLogo }}" class="d-none" id="main-logo" alt="Logo">
  {{ end }}
  {{ if $invertedLogo }}
    <img src="{{ $invertedLogo }}" class="d-none" id="inverted-logo" alt="Inverted Logo">
  {{ end }}
  {{ if $darkLogo }}
    <img src="{{ $darkLogo }}" class="d-none" id="dark-logo" alt="Dark Logo">
  {{ end }}
</nav>
